IOSChart_CT/*
WorkspaceSettings.xcsettings
Devexpress.Charts.iOS.userprefs
DevExpress.Xamarin.iOS.Charts.dll

*.dll
*.bak
*.orig
*Resource.[Dd]esigner.cs
Expressions.xcexplist

xamarin/bin
xamarin/ChartsGallery.Android
ChartsGalleryDev.xcscheme
.DS_Store

xcschememanagement.plist

RealLive/ios/IexStockCap/IexStockCap\.xcodeproj/project\.xcworkspace/xcuserdata/
RealLive/ios/IexStockCap/IexStockCap\.xcodeproj/xcuserdata/support\.xcuserdatad/xcdebugger/


[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Oo]ut/
.vs/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.csproj.user
*.DotSettings.user

# Windows Store app package directory
AppPackages/

build/
packages/
.externalNativeBuild/
release/
.gradle/
.signing/
.idea/
.mfactor/
codeStyles/

encodings.xml
misc.xml
modules.xml
vcs.xml
workspace.xml

com_crashlytics_export_strings.xml
local.properties
tasks.xml
.name
compiler.xml
profiles_settings.xml
scope_settings.xml
*.iml
.Trashes
ehthumbs.db
Thumbs.db
build_file_checksums.ser
Project.xml
inspectionProfiles/
misc.xml
dictionaries/
xamarin/Forms/DevExpress.TabControl.Forms/packages/
xamarin/Forms/DevExpress.TabControl.Forms/.cr/
ios/DXGrid/ build
xamarin/Forms/Demos/Democenter.Forms/.cr/personal/Editor/IntelliRush.xml

install/
!scripts/install/
temp/
scripts/__pycache__/
*.pyc
logs/
*.nupkg
xcuserdata/
xamarin/Forms/DevExpress.ListView.Forms/DevExpress.XamarinForms.ListView.Android/mono_crash.115869ea88.0.json
scripts/.vscode
